img{
  height: 40px;
}

nav{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 40px;
}

.right-second {
  position: fixed;
  right: 10px;
}

.right-first {
  position: fixed;
  right: 105px;
}
