<nav class="navbar navbar-expand-lg navbar-dark" id="navbarNav">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
      <img src="assets/w3.png" alt="No se puede mostrar">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list']" routerLinkActive="active">Lista</a>
      </li>
      <li class="nav-item right-first">
        <a class="nav-link" (click)="showAccess()">Acceder</a>
      </li>
      <li class="nav-item right-second">
        <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="active">Registrarse</a>
      </li>
    </ul>
  </div>
</nav>
