<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="prueba" (click)="exit()"></div>
<div class="wrapper">
  <div id="formContent" class="fadeInDown">
    <div class="fadeIn first">
      <br>
    </div>
    <form (ngSubmit)="onSignin(form)" #form="ngForm">
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="Correo electrónico" ngModel>
      <input type="password" id="login" class="fadeIn third" name="password" placeholder="Contraseña" ngModel>
      <input type="submit" class="fadeIn fourth" value="Acceder">
    </form>
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/acceso']">¿Has olvidado la contraseña?</a>
    </div>
  </div>
</div>
