<mat-progress-bar *ngIf="loadingBar === true" mode="indeterminate"></mat-progress-bar>
<app-nav></app-nav>
<div *ngIf="notification !== null" class="fadeInDown alert alert-{{notification.type}}">
  {{notification.message}}
</div>
<app-inicio-sesion *ngIf="showAccess"></app-inicio-sesion>
<router-outlet></router-outlet>
