/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  min-height: 100vh;
  background: radial-gradient(#626c7c, #131518);
}
