@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,800,800italic,700italic&subset=latin,greek,greek-ext,latin-ext);

body {
background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/41294/hero.jpg) no-repeat center center fixed; 
background-size:cover;
font-family: 'Open Sans', sans-serif;
}

.search {
  width: 500px;
  height: 40px;
  margin: 50px auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius:  3px;
  border: 1px solid #fff;
}

.search input {
  width: 370px;
  padding: 7px 8px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.search input:focus {
  outline: 0;
  background:transparent;
}

.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 39px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}   

.search button:hover {
  background: #fff;
  color:#444;
}
.search button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search button:focus {
  outline: 0;
}

h5{
  color: #fff
}

* {
	margin: 0 auto;
	padding: 0;
}

.film {
	position: relative;

	background: #ddd;
	width: 8.20cm;
	height: 11.92cm;
	float: center;
	margin: 22px;
	cursor: pointer;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
}

.film img {
	width: 8.20cm;
	height: 11.92cm;
}

.film > .desc {
    opacity: 0;
 	transition: all 520ms ease;
}

.film:hover > .desc {
	position: relative;
          
    margin-top: -280px;
	background: rgba(0, 0, 0, 0.7);
	width: 9cm;
	height: 8cm;
	opacity: 1;
}

.film > .desc button {
	background: rgba(67, 66, 77, 0.8);
	transition: all 250ms ease;
	padding: 15px 44px 15px 44px;
	border-radius: 60px;
	border: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	cursor: pointer;
	margin: 22px 0 0 18px;
	outline: none;
}

.film > .desc button:hover {
	background: rgba(67, 66, 77, 0.9);
}

.film > .desc hr {
	margin-top: 15px;
	border: none;
  height: 1px;
  background-color: rgba(81, 68, 63, 0.5);
}

.film > .desc > .text {
	color: #fff;
	margin: 22px 0 0 22px;
	width: 290px;
}

