<div class="container" (wheel)="addBackground()">
  <div class="row">
    <div class="search" action="">
     <input type="text" class="input" [(ngModel)]="title" placeholder="¿Que quieres buscar?">
     <button type="submit" (click)="searchFilm()">Buscar</button>
    </div>   
</div>
</div>
<div class="container">
<div class="row">
<div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let film of films">
<div class="film" id="{{film.id}}" #card>
  <img src="{{film.posterPath}}" onerror="this.src='assets/error.png'">
  <div class="desc">
    <button  class="btn btn-default btn-sm" *ngIf="!film.added" (click)="saveFilm(card.id)">Añadir a la lista</button>
    <button class="btn btn-danger btn-sm" *ngIf="film.added" (click)="removeFilm(card.id)">Quitar de la lista</button>
  <hr>
    <div class="text">
      <b>{{film.title}}</b><br><b>Fecha de estreno: {{film.releaseDate | date:"dd/MM/yyyy"}}</b><br><b>Nota de los usuarios: {{film.voteAverage}}</b><br>
    </div>
  </div>
</div>
</div>